body{
    display: flex;
    height:600px;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width:250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    /* border:2px solid; */
}
.child{
    border-radius:10px;
    /* background-color: black; */
    display: flex;
    /* border: solid  30px; */
    margin-left: 25px;
    height: 20px;
    width: 20px;
    animation-name: a,a1,a2,a3,c1,c2,c3,c4;
    animation-duration: 1s,1s,1s,1s,2s;
    animation-iteration-count: 3;
}
.child1{
    background-color: blue;
    animation-delay: 0s,4.1s;
    animation-name: b,a;
}
.child2{
    background-color: red;
    animation-delay: 0.3s,4.3s;
    animation-name: b,a1;
}
.child3{
    background-color: green;
    animation-delay: 0.4s,4.5s;
    animation-name: b,a2;
}
.child4{
    background-color: yellow;
    animation-delay: 0.8s,4.8s;
    animation-name: b,a3;
}
@keyframes b { 
    0%,100%{
        transform: translateY(0px) ;
    }
    50%{
        transform: translateY(-25px);
    } 
    
}
@keyframes a {
    
    0%,100%{
        height:15px;
    }
    50%{
        height:100px;
    }
    
}
@keyframes a1 {
    0%,100%{
        height:15px;
    }
    50%{
        height:100px;
    }
    
}
@keyframes a2 {
    0%,100%{
        height:15px;
    }
    50%{
        height:100px;
    }
    
}
@keyframes a3 {
    0%,100%{
        height:15px;
    }
    50%{
        height: 100px;
    }
    
}
/* @keyframes c1 {
    0%{
        transform: rotate(360deg) translate(150px,-100px);
    }
    50%{
        transform: rotate(360deg) translateY(30px);
    }
}
@keyframes c2{
    0%{
        transform: rotate(360deg) translate(150px,-100px);
    }
    50%{
        transform: rotate(360deg) translateY(30px);
    }
}
@keyframes c3 {
    0%{
        transform: rotate(360deg) translate(150px,-100px);
    }
    50%{
        transform: rotate(360deg) translateY(30px);
    }
}
@keyframes c4 {
    0%{
        transform: rotate(360deg) translate(150px,-100px);
    }
    50%{
        transform: rotate(360deg) translateY(30px);
    }
}

 */
