.container{
    border:2px solid;
    display:flex;
    background-color: black;
    font-size:20px;
    padding:10px;
    
    
}
.container1{
    display: flex;
    gap:40px;
}
.container2{
    display: flex;
    color:white;
    margin-left: 1000px;
}
.container3{
    width: 80%;
    margin:auto;
}
.container4{
    display:flex;
    justify-content: space-around;
    
}
.container5{
    display: flex;
    justify-content: space-around;
    padding-left:2px;
}
.child9{
    width: 15%;
    margin-left:30px;
}
.child10{
    width: 15%;
    margin-left:30px;
}
.child11{
    width: 15%;
    margin-left:30px;
}
.container6{
    width:100%;
    background-color: black;
    padding-top: 5%;
}
.container7{
    
    color: white;
    text-align: center;
}
.child12{
    color: black;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
p{
    margin-left: 300px;
    margin-right: 300px;
}
img{
    width: 100%;
}
.child{
    color:white;
}