
/*.container{
    width:100%;
    
    display:flex;
    flex-wrap:wrap;
    margin-left:250px;
}*/
.container1{ 
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 10px;
    margin-left: 350px;
} 
.container2{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-bottom: 10px;
    margin-left: 350px;
}


img{
    width:100%;
    height:100%;
    transition: all 1s ease;
}

.child{
    width:150px;
    height:150px;
    background-color: red;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}  
.container1{ 
    display: flex;
    gap:20px;
    margin-bottom: 10px;
} 
.container2{display: flex;
    gap:20px;
    margin-bottom: 10px;
}

.child p{
    position:absolute;         
    opacity:0;
   
    font-size:large;
    transition: all 1s ease;
}
.child:hover img{
    opacity:0;
}

.child:hover p{
    opacity:1;
}