.container{
 /*border:2px solid;*/
 padding:80px;   
}
.child-1{
    display:inline-block;
    width: 300px;
    margin-right: 20px;
    padding-left: 200px;

}
.child-2{
    display:inline-block;
    width:400px;
    margin-bottom: 80px;
}
img{
    width:100%;
}
h1,h3,p{
    font-weight: normal;
}
.container1{
    padding:80px;
}
.child-3{
    display:inline-block;
    width:450px;
    margin-right:100px ;
}
.child-4{
    display: inline-block;
    width:450px;
}
img{
    width:100%;
}
h1,h3,p{
    font-weight: normal;
}