.container{
    /*border: 2px solid red;*/
    /*width:1200px;*/
    /*height:600px;*/
    padding-left:110px;
    
    
}
.child-1{
    
    display:inline-block;
   /* border:2px solid black;*/
    width:300px;
    /*height:500px;*/
    margin-right: 10px;
  

}
.child-2{
    
    display:inline-block;
    /*border:2px solid black;*/
    width:300px;
   /* height:500px;*/
   margin-right: 10px;
  
}
.child-3{
    
    display:inline-block;
    /*border:2px solid black;*/
    width:300px;
    /*height:500px;*/
    margin-right:10px;
}
.child-4{
    
    display:inline-block;
    /*border:2px solid black;*/
    width:300px;
    /*height:500px;*/
    margin-right: 10px;
}
img{
    width:100%;
   
}
h2,p,h3{
    text-align: center;
    /*font-weight: normal;*/
}