body{
     height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width:350px;
    height:190px;
    display: flex;
    gap:10px;
    border:2px solid;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.child{
    width:2px;
    height:125px;
    border: 2px solid ;
    border-radius: 5px;
    background-color: black;
    margin: 8px;
    /* animation-name: a; */
    /* animation-delay: 0.6s; */
    animation-iteration-count:infinite ;
    animation-duration: 1s;
}
.child1{
    animation-delay: 0.1s;
    animation-name: a;
}
.child2{
    animation-delay: 0.2s;
    animation-name: b;
}
.child3{
    animation-delay: 0.3s;
    animation-name: c;
}
.child4{
    animation-delay: 0.4s;
    animation-name: b;
}
.child5{
    animation-delay: 0.5s;
    animation-name: c;
}
.child6{
    animation-delay: 0.5s;
    animation-name: b;
}
.child7{
    animation-delay: 0.4s;
    animation-name: a;

}
.child8{
    animation-delay: 0.3s;
    animation-name: a;
}
.child9{
    animation-delay: 0.2s;
    animation-name: b;
}
.child10{
    animation-delay: 0.1s;
    animation-name: a;
}
@keyframes a {
    0%{
        height: 5px;
    }
    50%{
        height:100px;
    }
    100%{
        height:5px;
    }
    
}
@keyframes b {
    0%{
        height: 5px;
    }
    50%{
        height:100px;
    }
    100%{
        height: 8px;
    }
    
}
@keyframes c {
    0%{
        height:8px
    }
    50%{
        height:90px;
    }
    100%{
        height:5px;
    }
}
